<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/css/output.css" />
    <title><%= title %></title>
  </head>
  <body>
    <nav class="p-3 shadow flex justify-between">
      <h1 class="text-3xl">Open Articles</h1>
      <ul class="flex gap-2 text-lg">
        <li class="p-2">
          <a href="/">Home</a>
        </li>
        <% if (user) { %>
        <li class="p-2">
          <a href="/profile">Profile</a>
        </li>
        <li class="bg-orange-400 text-white p-2 rounded-full">
          <a href="/profile/articles/new">New Article +</a>
        </li>
        <li class="p-2">
          <a href="/auth/logout">Logout</a>
        </li>
        <% } else { %>
        <li class="bg-orange-400 rounded-lg text-white p-2">
          <a href="/auth/signup">Signup</a>
        </li>
        <li class="p-2">
          <a href="/auth/login">Login</a>
        </li>
        <% } %>
      </ul>
    </nav>
  </body>
</html>
