<%- include('partials/header') %>
<form
  action="/articles/new"
  class="w-fit mx-auto flex flex-col shadow rounded p-6"
  id="create-form"
>
  <h1 class="text-center font-sand text-2xl text-gray-500 p-3">
    Create new Article
  </h1>
  <label for="cover" class="font-sand text-gray-500 text-lg">
    Add cover image
    <i class="bi bi-image"></i>
    <input type="file" id="cover" name="cover" class="hidden" />
  </label>
  <label for="headline" class="text-gray-500 font-sand text-lg"
    >Headline:</label
  >
  <input
    type="text"
    id="headline"
    name="headline"
    class="p-2 border-2 border-gray-500 rounded w-96 text-gray-600 text-lg outline-none"
  />
  <label for="description" class="text-gray-500 font-sand text-lg"
    >Description:</label
  >
  <input
    type="text"
    id="description"
    name="description"
    class="p-2 border-2 border-gray-500 rounded w-96 text-gray-600 text-lg outline-none"
  />

  <label for="content" class="text-gray-500 font-sand text-lg">Content:</label>
  <textarea
    id="content"
    name="content"
    rows="6"
    class="p-2 border-2 border-gray-500 rounded w-96 text-gray-600 text-lg outline-none"
  ></textarea>

  <input
    type="submit"
    value="Submit"
    class="bg-orange-500 text-white p-2 mx-auto m-1 rounded-lg"
  />
</form>
<script>
  const createForm = document.querySelector("#create-form");

  createForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    // Get input values
    const headline = createForm.headline.value;
    const content = createForm.content.value;
    const description = createForm.description.value;
    const cover = createForm.cover.files[0];

    const formData = new FormData();
    formData.append("headline", headline);
    formData.append("description", description);
    formData.append("content", content);
    formData.append("cover", cover);

    try {
      const res = await fetch("/articles/new", {
        method: "POST",
        body: formData,
      });

      const data = await res.json();
      console.log(data);

      // Clear input fields
      createForm.headline.value = "";
      createForm.description.value = "";
      createForm.content.value = "";
      createForm.cover.value = "";
      location.assign("/");
    } catch (error) {
      console.log(error);
    }
  });
</script>
<%- include('partials/footer') %>
