<%- include('partials/header') %>
<form
  action="/articles/new"
  class="w-96 mx-auto flex flex-col"
  id="create-form"
>
  
  <label for="cover">
    <i class="bi bi-image"></i>
    <input type="file" id="cover" name="cover" />
  </label>
  <label for="headline">Headline:</label>
  <input
    type="text"
    id="headline"
    name="headline"
    class="p-2 border border-gray-500 rounded outline-none"
  />
  <label for="description">Description:</label>
  <input
    type="text"
    id="description"
    name="description"
    class="p-2 border border-gray-500 rounded outline-none"
  />

  <label for="content">Content:</label>
  <textarea
    id="content"
    name="content"
    rows="6"
    class="p-2 border border-gray-500 rounded outline-none"
  ></textarea>

  <input
    type="submit"
    value="Submit"
    class="bg-green-500 p-2 text-green-800 rounded-full"
  />
</form>
<script>
  const createForm = document.querySelector("#create-form");

  createForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    // Get input values
    const headline = createForm.headline.value;
    const content = createForm.content.value;
    const description = createForm.description.value;
    const cover = createForm.cover.files[0];

    const formData = new FormData();
    formData.append("headline", headline);
    formData.append("description", description);
    formData.append("content", content);
    formData.append("cover", cover);

    try {
      const res = await fetch("/new", {
        method: "POST",
        body: formData,
      });

      const data = await res.json();
      console.log(data);

      // Clear input fields
      createForm.headline.value = "";
      createForm.description.value = "";
      createForm.content.value = "";
      createForm.cover.value = "";
      location.assign("/");
    } catch (error) {
      console.log(error);
    }
  });
</script>
<%- include('partials/footer') %>
