<%- include('partials/header') %>

<p class="font-bold text-5xl text-center font-sand p-12">Home of awesome and free articles</p>

<a href="/articles" class="bg-yellow-600 rounded-full p-1">View Articles</a>

<%- include('partials/footer') %>
