<%- include('partials/header') %>

<section class="pl-32 pt-28 h-72 flex gap-1">
  <img src="./image.png" alt="oa" class="w-64" />
  <main>
    <p class="text-5xl text-gray-500 p-4 font-bold font-sand">
      Home of awesome and free articles
    </p>
    <p class="text-gray-500 font-bold text-xl p-4 font-sand">
      By Open Articles foundation for all
    </p>
    <div class="bg-orange-500 p-4 rounded-full text-lg font-sand mt-6 text-white w-fit">
      <a href="/articles" class="p-1">View Articles</a>
    </div>
  </main>
</section>
<%- include('partials/footer') %>
