<%- include('partials/header') %>

<p class="text-center text-4xl">Login to Continue</p>

<section class="bg-red-500 p-2 w-fit my-6 rounded text-white mx-auto">
    <a href="/auth/google" class="text-lg">Continue with Google+</a>
</section>